.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .box {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .box {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .box {
    width: 100%;
  }
}

.box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box h2 {
  margin-bottom: 10px;
}

.box ul li {
  margin-bottom: 5px;
}

.box ul li a {
  color: #666;
  text-decoration: none;
}

.d_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
